body {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:"Ubuntu","Ubuntu Beta",Ubuntu, UbuntuBeta !important;
  color:white;
  overflow: hidden;
  overflow-x: hidden;
  width:100%;
  height:100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*{
  cursor: default;
  font-family:"Ubuntu","Ubuntu Beta",Ubuntu, UbuntuBeta;
}

a {
  outline: none;
  color:#DD4814;
  text-decoration: none;
  cursor:pointer;
}

.window{
  -moz-border-radius:4px 4px 0px 0px;
  -webkit-border-radius:4px 4px 0px 0px;
  border-radius:4px 4px 0px 0px;
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  position: fixed;
  top: 5%;
  left: 5%;
  /*height: 100%;*/
  background:url(../img/terminal/top-bg.jpg) repeat-x;
  background-color:#f2f1f0;
  color: #4C4C4C;
  font-size: 14px;
  z-index: 1;
}

#top{
  background-image: url(../img/top-bg.jpg);
  background-repeat:repeat-x;
  position:absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:24px;
  color: #DFDBD2;
  z-index:11;
}

#top.dropShadow{
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}

#top #top-left{
  float:left;
}

#top #top-right{
  float:right;
  font-size:15px;
}

#top #top-right #power {
    padding: 2px 0px 0 5px;
}

#top #top-right #volume {
    padding: 4px 5px 0 5px;
}

#top #top-right #battery {
    padding: 4px 5px 0 5px;
}

#top #top-right div{
  float:left;
  padding:0px 8px;
  overflow:hidden;

}

#control-buttons{
  margin-top:2px;
  margin-left:8px;
  float:left;
  display:none;
}

.selected-window{
  -moz-box-shadow: 0px 0px 20px #000;
  -webkit-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
}

.selected-window .control .window-title{
  color: #DFDBD2;
}

.terminal{
  width:90%;
  height: 90%;
  margin: 0 auto;
}

.terminal-content {
    color: #38B317;
}

.terminal-cursor:after {
    font-weight: bolder;
    padding-left: 10px;
    content: "|";
    opacity: 0;
    -webkit-animation: cursor 1s infinite;
    -o-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.control{
  height:21px;
  margin-left:10px;
  margin-top: 6px;
}

.control .terminal-title{
  font-weight:bold;
  float:left;
  color: #DFDBD2;
  font-size: 14px;
  margin-left: 10px;
}

.control .close{
  background:url(../img/terminal/close.jpg) no-repeat;
  height:19px;
  width:18px;
  float:left;
}

.control div:hover{
  background-position: 0px -19px !important;
}

.control .min{
  background:url(../img/terminal/minimise.jpg) no-repeat;
  height:19px;
  width:19px;
  float:left;
}

.control .max{
  background:url(../img/terminal/maximise.jpg) no-repeat;
  height:19px;
  width:17px;
  float:left;
}

.window-title{
  color:#807d78;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 18px;
  margin-left: 10px;
  overflow: hidden;
  max-width:90%;
}
